.tour-container{
    width: 100vw;
   
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("./Caribbean.jpg") left 80% bottom 50% /cover no-repeat border-box,
    rgba(255,255,255,0.6);
    z-index: 0;
    text-align: center;
    padding: 150px  0 ;

    
   
  
}


.content{
    z-index: 666;
    font-size: 4rem;
    margin: 20px;
    text-transform: capitalize;
    line-height: 1.1; 
    cursor: pointer;

    
}

.content a{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    
} 

.content a:hover{
    color: #0467FB;
    transition: all 0.58s ease-out;
}