.footer-container{
    width: 100vw;
    height:auto;
    background: #1B1919;
    color:#fff;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0 !important;

}

.details{
    display: flex;
    flex-direction: column;
    justify-self: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: auto;
   margin-top: 20px;
}
.socials{
   
    justify-content: space-between;
    font-size: 5rem;
    margin: 30px  0 auto;
    text-align: center;
    cursor: pointer;
  
}

.contacts {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    cursor: pointer;
    
  
}
.contacts a{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    margin: 10px;
    
}

.contacts a:hover,.contacts a:active{
    border-bottom: 1px solid olive;
    color: #1E70BF;
}

.partners{
    width: 80vw;
    margin:20px 10px;
    text-align: center;
    height: auto;
}

.partner{
   width: 40vw;
}

@media screen and (max-width:767px){


.details{
    display: flex;
    margin: 20px;

}
.contacts {
    display: flex;
    width: 50vw;
    margin-top: 0;
}
partners{
    width: 100vw;
  
}
.partner{
    width: 80vw;
 }
}